#main
  :if article.version
    %a.sha-version{ href: "/#{article.version}/#{article.name}" } Version statique
  %h1
    %a{href: "/" + article.name}&= article.title
  = markdownEncode(article.markdown)
  %hr{style:"clear:both"}
  #disqus_thread.body
  :script
    var disqus_url = "http://howtonode.org/#{article.name}";
  %script(src="http://disqus.com/forums/howtonodeorg/embed.js" type="text/javascript")
  %a(href="http://disqus.com/forums/howtonodeorg/?url=ref")
    Voir les &eacute;changes.
  %a.dsq-brlink(href="http://disqus.com")
    commentaires g&eacute;r&eacute;s par
    %span.logo-disqus
      Disqus
  :script
    (function() {
      var links = document.getElementsByTagName('a');
      var query = '?';
      for(var i = 0; i < links.length; i++) {
        if(links[i].href.indexOf('#disqus_thread') >= 0) {
          query += 'url' + i + '=' + encodeURIComponent(links[i].href) + '&amp;';
        }
      }
      document.write('<script charset="utf-8" type="text/javascript" src="http://disqus.com/forums/howtonodeorg/get_num_replies.js' + query + '"></' + 'script>');
    })();


#sidebar
  .auteur
    %h4 ="&Aacute; propos de " + author.name
    %img{src: "/" + author.avatar, title: author.name }
    %dl
      %dt Nom:
      %dd&= author.realname
    :if author.github
      %dl
        %dt Github:
        %dd= github(author.github)
    :if author.bitbucket
      %dl
        %dt BitBucket:
        %dd= bitbucket(author.bitbucket)
    :if author.twitter
      %dl
        %dt Twitter:
        %dd= twitter(author.twitter)
    :if author.location
      %dl
        %dt Emplacement:
        %dd&= author.location
    :if author.homepage
      %dl
        %dt Site Web:
        %dd
          %a{href: author.homepage} =author.homepage

  .props
    %h4
      Propri&eacute;t&eacute;s
    :if article.date
      %dl{title: article.date}
        %dt
          Date de publication:
        %dd
          &= formatDate(article.date, "%l %F %j, %Y")
    :if article.lastUpdated
      %dl{title: article.lastUpdated}
        %dt
          Dernière mise à jour:
        %dd
          &= formatDate(article.lastUpdated, "%l %F %j, %Y")

    :if article.node
      %dl
        %dt
          Version de Node.js:
        %dd
          %a{ href: "http://github.com/joyent/node/tree/" + article.node }
            node #{article.node}

    :if article.dependencies
      %dl
        %dt
          Versions des d&eacute;pendances:
        %dd
          %ul
            :each dependency in article.dependencies
              %li
                %a{ href: "http://github.com/creationix/haml-js/tree/8ea2df3a90ff488ed253d5872e0f4a387f393e5d" }
                  haml-js v0.2.2

    :if article.uniqueSnippets
      %dl
        %dt
          Exemples de code:
        %dd
          %ul
            :each base, snippet in article.uniqueSnippets
              %li
                %a{ href: snippet.filename}
                  &= base

    %dl
      %dt
        R&eacute;visions:
      %dd
        %ul
          :each version, stat in article.log
            %li{title: stat.message}
              %a{ href: "/#{version}/#{article.name}" }
                &= new Date(stat.date).toUTCString()

  :if article.related && article.related.length > 0
    .bubble
      %h4
        Autres articles:
      %ul
        :each related in article.related
          %li
            %a{href: "/" + related.name}&=related.title
            :if related.node
              %span.versiontag&= related.node

